<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/authPage.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <!--            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon"/>-->
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="First name" class="fadeIn second" name="First name" placeholder="First name">
            <input type="text" id="Last name" class="fadeIn third" name="Last name" placeholder="Last name">
            <input type="text" id="login" class="fadeIn fourth" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn fifth" name="password" placeholder="password">
            <input type="submit" class="fadeIn sixth" value="Register">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/">Already have an account ?</a>
        </div>

    </div>
</div>

</body>
</html>

